# Ignore the default container config directories
config.d/**
!config.d/plex.env

# Ignore "secrets"
secrets/**

# Ignore Logs
logs
*.log

# The file containing environment variables 
.env

# Keep .gitkeep enabled directories (empty)
!.gitkeep
